<script src="//maps.google.com/maps/api/js?key=AIzaSyDBJQbWSgIk_TWZyq9toLHGQ3zY2A56n8E&libraries=places,drawing,geometry"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

<div class="container">
  <div class="col-xs-12">
    <h1 class="margin-left:0">Matching Service Providers Near You</h1>
  </div>
  <div class="col-md-5 col-sm-5 hidden-sm hidden-xs">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Locations</h4></div>
      <div class="panel-body">
        <table class="table">
          <% @locations.each do |location| %>
              <% address = location.address %>
              <tr>
                <td>
                  <address class="pull-right">
                    <% if location.presentable_phone_number %>
                        <abbr title="Phone">P:</abbr> <a href="tel:+<%= location.phoneable %>"><%= location.presentable_phone_number %></a><br>
                    <% end %>
                    <% if location.email %>
                        <a href="mailto:<%= location.email %>"><%= location.email %></a>
                    <% end %>
                  </address>
                  <address>
                    <strong><%= location.organization.name %></strong><br>
                    <%= address.street_1 %><br>
                    <% if address.street_2.present? %>
                        <%= address.street_2 %><br>
                    <% end %>
                    <%= "#{address.city}, #{address.state} #{address.try(:zipcode)}" %>
                  </address>
                </td>
              </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-7 col-sm-7 col-sm-12 col-xs-12">
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>
  <div class="hidden-lg hidden-md col-sm-12 col-xs-12"></div>
</div>


<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>
