<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Globalhack</title>
    <%= render partial: 'layouts/common_header' %>

    <%= stylesheet_link_tag    'admin_dashboard', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin_dashboard', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <%= render partial: 'layouts/side_menu' %>
        <%= render partial: 'layouts/top_nav' %>

        <div class="right_col" role="main">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= javascript_include_tag 'dashboard/late_load.js', 'data-turbolinks-track': true %>
  </body>
</html>
